<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
  <header class="row">
    <img src="{{ baseurl }}/img/muwhite.png"/>
    <vgroup>
      <h1 id="mu_h1" class="head_title">Mu Flex</h1>
      <h4 id="mu_h4" class="head_title">Website Design</h4>
    </vgroup>
    <section class="mudef">
      <p>Mu (Japanese/Korean) and Wu (Chinese) is a word which has been roughly translated as ”no“,”none”,”null”,”without” and “no meaning”. While used mainly in Japanese or Chinese as a prefix to imply the absense of something, in English it is more famously used as a response to certain koans and other questions in zen buddhism, intending to  indicate that the question itself was wrong.</p>
    </section>
  </header>
  <div class="row">
    <div class="content">
      {{ content }}
    </div>
    <section class="tekrol">
      <h1 class="medium">Tech Roll</h1>
      <ul class="flex">
        <li><a title="" class="cc_logo" href="https://creative.adobe.com/"><span>Adobe</span></a></li>
        <li><a title="" class="android_logo" href="http://developer.android.com/sdk/index.html?hl=sk"><span>Android</span></a></li>
        <li><a title="" class="angular_logo" href="http://angularjs.org"><span>Angular</span></a></li>
        <li><a title="" class="bower_logo" href="http://bower.io"><span>Bower</span></a></li>
        <li><a title="" class="chef_logo" href="https://wiki.opscode.com/display/chef/Home"><span>Chef</span></a></li>
        <li><a title="" class="compass_logo" href="http://compass-style.org/"><span>Compass</span></a></li>
        <li><a title="" class="cordova_logo" href="http://cordova.apache.org/"><span>Cordova</span></a></li>
        <li><a title="" class="zurb_logo" href="http://zurb.foundation.com/"><span>Foundation</span></a></li>
        <li><a title="" class="git_logo" href="http://git-scm.com/"><span>Git</span></a></li>
        <li><a title="" class="github_logo" href="http://github.com"><span>Github</span></a></li>
        <li><a title="" class="grunt_logo" href="http://gruntjs.com/"><span>Grunt</span></a></li>
        <li><a title="" class="gulp_logo" href="http://gulpjs.com/"><span>Gulp</span></a></li>
        <li><a title="" class="html5_logo" href="http://html5test.com/"><span>HTML5</span></a></li>
        <li><a title="" class="laravel_logo" href="http://laravel.com/"><span>Laravel</span></a></li>
        <li><a title="" class="puppet_logo" href="http://puppetlabs.com/"><span>Puppet</span></a></li>
        <li><a title="" class="sketch_logo" href="http://bohemiancoding.com/"><span>Sketch</span></a></li>
        <li><a title="" class="vagrant_logo" href="http://www.vagrantup.com/"><span>Vagrant</span></a></li>
        <li><a title="" class="wp_logo" href="http://wordpress.org/"><span>Wordpress</span></a></li>
        <li><a title="" class="yeoman_logo" href="http://yeoman.io/"><span>Yeoman</span></a></li>
      </ul>
    </section>
  </div>
  {% include footer.html %}
  </body>
</html>
