@import "responsive";
@import "compass/reset";
@import "compass/utilities/general/clearfix";
@import "compass/css3/font-face";
body {
	font-family: 'CaudexRegular';
	font-size: 1em;
	line-height: 1.4;
	height: 100%;
	width: 100%;
	margin: 0; 
	background-position: top left;
	background-image: url('../img/graphy.png');
	hgroup {width: 200px; }
}
.head_title {
	position: relative;
	-webkit-transform: rotate(90deg);  /* Saf3.1+, Chrome */
    -moz-transform: rotate(90deg);  /* FF3.5+ */
    -ms-transform: rotate(90deg);  /* IE9 */
     -o-transform: rotate(90deg);  /* Opera 10.5 */
     transform: rotate(90deg);
     filter: progid:DXImageTransform.Microsoft.Matrix(/* IE6–IE9 */
       M11=6.123233995736766e-17, M12=-1, M21=1, M22=6.123233995736766e-17, sizingMethod='auto expand');
     zoom: 1;
     margin: 0;
}
#mu_h1 {
	font-size: 2.1em;
	letter-spacing: 0.1em;
	word-spacing: 0.05em;
	top:-2.7em;
	left: 1.6em;
	padding-left: 0.55em;
	font-weight: lighter;
}
#mu_h4  {
	font-size: .7em;
	font-weight: lighter;
	letter-spacing: 0.1em;
	top: -4.2em;
	left: 2.9em;
}
.mudef {
	position: relative;
	top:-18em;
	left: 21em;
	height: 220px;
	font-size: 0.8em;
	overflow: hidden;
	h2 {
		font-size: 1.15em;
		letter-spacing: 0.2em;
		word-spacing: 0.1em;
		padding:0.2em 0 0 1.3em;
		margin: 0;
	}
	p {
		font-family: 'CaudexItalic',serif;
		word-spacing: 0.2em;
		line-height: 1.2em;
		height: 155px;
		width: 50%;
		margin:0;
		padding:2.2em 0.5em 0em 1.6em;
	}
}
#manf {
    @include clearfix;
    display: inline-block;
    margin: 0 auto;
    p {
      font-size: 0.8em;
      width: 100%;
      padding: 0.5rem 0;
    }
    .bottom {
      display: table;
      margin: 0 auto;
    }
    ul {
      display: inline-table;
      margin: 0 auto;
      padding: 0.4rem 0rem 1.4rem;
    }
    li {
      padding: 0em 1.5em;
      position: relative;
      perspective: 1000px;
      @media screen and (max-width: 550px) {
        padding: 0;
      }
      a {
        display: block;
        border: 1px solid transparent;
        /*disabling the translucent black bg on the main image*/
        background-size: 0, cover;
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
        /*3d space for children*/
        transform-style: preserve-3d;
        transition: all 0.5s;
        .top {
            border: 1px solid white;
        }
        &:hover {
          border: 1px solid blue;
          transform: rotateX(80deg); transform-origin: bottom;
        }
        &:before {
          opacity: 1;
          /*blurred effect using box shadow as filter: blur is not supported in all browsers*/
          box-shadow: 0 0 1rem 1rem rgba(0, 0, 0, 0.5);
          /*pushing the shadow down and scaling it down to size*/
          transform: rotateX(0) translateZ(-60px) scale(0.85);
        }
      }
      &:after {
        /*36px high element positioned at the bottom of the image*/
        content: ''; position: absolute; left: 0; bottom: 0;
        width: 100%; height: 1.5rem;
        /*inherit the main BG*/
        background-size: cover, cover;
        /*draw the BG bottom up*/
        background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4));
        background-position: bottom;
        /*rotate the surface 90deg on the bottom axis*/
        transform: rotateX(90deg); transform-origin: bottom;
      }
      &:before {
        content: ''; position: absolute; top: 0; left: 0;
        width: 100%; height: 100%;
        background: rgba(0, 0, 0, 0.5);
        box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5);
        transition: all 0.5s;
        /*by default the shadow will be almost flat, very transparent, scaled down with a large blur*/
        opacity: 0.15;
        transform: rotateX(95deg) translateZ(-80px) scale(0.75);
        transform-origin: bottom;
      }
      span {
        color: white;
        text-transform: uppercase;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        font-size: 0.7rem;
        text-align: center;
        /*the rotation is a bit less than the bottom surface to avoid flickering*/
        transform: rotateX(-89.99deg); transform-origin: top;
        z-index: 1;
      }
    }
  }