@import "bourbon/bourbon";
@import "../_bower_components/foundation/scss/foundation";
@import "compass/reset";
@import "compass/utilities/general/clearfix";
@import "compass/css3";
@import "compass/css3/font-face";

@include font-face("lato-light", font-files("lato-light-webfont.woff", "lato-light-webfont.ttf", "lato-light-webfont.eot", "lato-light-webfont.svg"));
@include font-face("lato", font-files("lato-regular-webfont.woff", "lato-regular-webfont.ttf", "lato-regular-webfont.eot", "lato-regular-webfont.svg"));

@mixin sticky-footer($footer-height, $wrapper-selector: unquote("#wrapper"), $container-selector: unquote("#container"), $footer-selector: unquote("#footer")) {
    html, body {
      height: 100%;
    }
    body {
      margin: 0px;
      padding: 0px;
    }
    #{$wrapper-selector} {
      min-height: 100%;
      height: auto !important;
      height: 100%;
      margin: 0 auto -$footer-height;
      #{$container-selector} {
        padding: 0 0 $footer-height 0;
      }
    }
  #{$footer-selector} {
    height: $footer-height;
  }
}
body {
  font-family: "lato-light";
  font-size: 1em;
	line-height: 1.4;
	height: 100%;
	width: 100%;
	margin: 0; 
	background-position: top left;
  background-image: url('/img/graphy.png');
  hgroup {
    @include grid-column(1);
    min-height: 100%;
  }
}
header {
  @include grid-row();
  padding-bottom: 2rem;
  img {
    @include grid-column(2);
  }
}
.head_title {
	position: relative;
	-webkit-transform: rotate(90deg);  /* Saf3.1+, Chrome */
    -moz-transform: rotate(90deg);  /* FF3.5+ */
    -ms-transform: rotate(90deg);  /* IE9 */
    -o-transform: rotate(90deg);  /* Opera 10.5 */
    transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.Matrix(/* IE6–IE9 */
       M11=6.123233995736766e-17, M12=-1, M21=1, M22=6.123233995736766e-17, sizingMethod='auto expand');
    zoom: 1;
    margin: 0;
}
#mu_h1 {
  font-size: 2.1rem;
  letter-spacing: 0.1rem;
  word-spacing: 0.05rem;
	font-weight: lighter;
}
#mu_h4  {
  font-size: 0.7rem;
	font-weight: lighter;
  letter-spacing: 0.1rem;
}
.mudef {
  font-size: 0.8rem;
  @include grid-column(8);
	h2 {
		font-size: 1.15em;
		letter-spacing: 0.2em;
		word-spacing: 0.1em;
		padding:0.2em 0 0 1.3em;
		margin: 0;
	}
	p {
    font-weight: lighter;
		word-spacing: 0.2em;
		line-height: 1.2em;
		margin:0;
		padding:2.2em 0.5em 0em 1.6em;
	}
}
.home {
  margin: 1rem 0.25rem;
  h1{
    font-size: 2.2rem;
    font-variant: small-caps;
  }
}
.content {
  @include grid-column(8);
}
.flex {
  li {
    float: left;
    overflow: hidden;
    padding: 1em 0.5em;
    position: relative;
    perspective: 1000px;
  }
  a {
    display: block;
    /*3d space for children*/
    transform-style: preserve-3d;
    transition: all 0.5s;
    -moz-background-size: cover;
    background-size: cover;
    @include filter(grayscale (.5) opacity(0.8) hue-rotate(120deg));
    &:hover {
      transform: rotateX(80deg); transform-origin: bottom;
      opacity: 0.6;
    }
    &:before {
      opacity: 1;
      /*blurred effect using box shadow as filter: blur is not supported in all browsers*/
      box-shadow: 0 0 1rem 1rem rgba(0, 0, 0, 0.5);
      /*pushing the shadow down and scaling it down to size*/
      transform: rotateX(0) translateZ(-60px) scale(0.85);
    }
  }
  span {
    color: black;
    text-transform: uppercase;
    position: absolute;
    max-width: 100%;
    top: 100%;
    left: 0;
    width: 100%;
    font-size: 0.6rem;
    text-align: center;
    /*the rotation is a bit less than the bottom surface to avoid flickering*/
    transform: rotateX(-89.99deg); transform-origin: top;
    z-index: 1;
  }
}
.tekrol {
  @include grid-column(4);
}
@each $member in android, angular, app, bower, cc, chef, compass, cordova, git, github, grunt, gulp, html5, jekyll, laravel, puppet, sketch, vagrant, wp, yeoman, zurb {
  .#{$member}_logo {
    background-image: url("/img/sk/#{$member}_logo.png");
    display: block;
    max-width: 100%;
    max-height: 100%;
    height: 48px;
    width: 48px;
  }
}
.jekyll_logo {
  width: 170px;
  height: 73px;
  max-width: 100%;
}
footer {
  display: inline-block;
  @include sticky-footer(30px);
}
.post {

  h1 {
    font-size:1.4em;
    letter-spacing: 0.1rem;
  }
}

.post-date {
  display: block;
  margin: 0px 0 10px;
  color: #9a9a9a;
}

/* Related posts */
.related {
  padding-top: 20px;
  padding-bottom: 40px;
  border-top: 1px solid #eee;
}
.related-posts {
  padding-left: 0;
  list-style: none;
}
.related-posts h3 {
  margin-top: 0;
}
.related-posts li small {
  font-size: 75%;
  color: #999;
}
.related-posts li a:hover {
  color: #000;
  text-decoration: none;
}
.related-posts li a:hover small {
  color: inherit;
}


/*
 * Pagination
 *
 * Super lightweight (HTML-wise) blog pagination. `span`s are provide for when
 * there are no more previous or next posts to show.
 */

.pagination {
  overflow: hidden; /* clearfix */
  margin-top: 40px;
  font-weight: bold;
  color: #ccc;
  text-align: center;
  border-top: 1px solid #eee;
}

.pagination a,
.pagination span {
  float: left;
  width: 50%;
  padding: 20px;
}
.pagination a:first-child,
.pagination span:first-child {
  border-right: 1px solid #eee;
}
.pagination a:hover {
  text-decoration: none;
  background-color: #f5f5f5;
}